.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/bin/seedms
seedms
BaseFile_1.012
BaseFile_1.012.indv
BaseFile_1.012.pos
BaseFile_1.txt
BaseFile_2.012
BaseFile_2.012.indv
BaseFile_2.012.pos
BaseFile_2.txt
BaseFile_3.012
BaseFile_3.012.indv
BaseFile_3.012.pos
BaseFile_3.txt
BaseFile_4.012
BaseFile_4.012.indv
BaseFile_4.012.pos
BaseFile_4.txt
BaseFile_5.012
BaseFile_5.012.indv
BaseFile_5.012.pos
BaseFile_5.txt
MixFile_1.012
MixFile_1.012.indv
MixFile_1.012.pos
MixFile_1.txt
MixFile_2.012
MixFile_2.012.indv
MixFile_2.012.pos
MixFile_2.txt
MixFile_3.012
MixFile_3.012.indv
MixFile_3.012.pos
MixFile_3.txt
MixFile_4.012
MixFile_4.012.indv
MixFile_4.012.pos
MixFile_4.txt
MixFile_5.012
MixFile_5.012.indv
MixFile_5.012.pos
MixFile_5.txt
gsi_sim_dumpola.txt
gsi_sim_seeds
mine.csv
ms2geno_seeds
pop_pi_full_em_mle.txt
pop_pofz_full_em_mle.txt
pop_pofz_one_step_em_mle.txt
pop_pofz_scaled_likelihoods.txt
splud
